#news {
  padding: 20px 0px;
}

article {
  box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.4);
  padding-bottom: 30px;
  margin-bottom: 40px;
}

#header-article {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#header-article img {
  width: 316px;
  height: 200px;
}

#header-article img.movil {
  display: initial;
}

#header-article img.tablet {
  display: none;
}

#body-article .avatar {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

#body-article .avatar img {
  margin-right: 10px;
  height: 40px;
  display: inline;
}
#body-article .data-name {
  display: block;
  flex: 0 1 auto;
}

#body-article .data {
  display: block;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1.5px;
}
#body-article .name {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}

#body-article h1.title {
  margin: 20px;
  font-size: 20px;
  line-height: 22px;
  text-align: left;
}

#body-article h1.title a {
  color: #333333;
  text-decoration: none;
}

#body-article p.excerpt {
  color: #828282;
  line-height: 22px;
  margin: 20px;
}
