#box-users-edit {
  display: grid;
  gap: 20px;
  width: 275px;
  height: 725px;
  left: 60px;
  right: 73.83%;
  bottom: 28.39%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  margin: 0;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  font-family: Roboto;
}

#caja-datos {
  width: 278px;
  height: 140px;
  background: linear-gradient(108.28deg, #2f80ed 24.66%, #56ccf2 89.14%);
  border-radius: 16px;
}

.user {
  height: 80px;
  margin: auto;
  font-size: 18px;
  line-height: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

#box-users-edit img {
  width: 100px;
  margin-top: -135px;
  margin-left: 90px;
}
#caja-datos {
  display: grid;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.nick {
  color: #2f80ed;
  font-size: 16px;
  line-height: 14px;
  font-weight: bold;
}

#box-users-edit h3,
h4 {
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  color: #219653;
  font-family: Roboto;
}
#box-users-edit span {
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  color: #219653;
}

#box-users-edit h3 {
  margin-top: -80px;
}

.nick {
  margin-top: -125px;
}

.id {
  margin-top: -155px;
  color: #2f80ed;
}

#box-users-edit h4 {
  margin-top: -170px;
}

#box-users-edit p.box-user {
  margin-top: -215px;
}

.correo {
  margin-top: -175px;
}
.fecha {
  margin-top: -215px;
}
