body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  align-items: Center;
  min-width: 414px;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  border-style: none;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: -66px;
  z-index: 3000;
}

div#topBar {
  background-color: #56ccf2;
  height: 66px;
  width: 100%;
  display: flex;
  position: static;
  top: 0;
  justify-content: flex-end;
  align-items: center;
}

fieldset {
  flex: 0 1 auto;
  display: inline-block;
  background: #2d9cdb;
  border-radius: 4px;
  padding: 0px 0 0 16px;
  margin-top: 6px;
  list-style: none;
}
#topBar input,
#topBar button {
  position: relative;
  float: left;
  width: 120px;
  height: 30px;
}
#topBar input {
  color: #fff;
  background-color: #2d9cdb;
  border: none;
  z-index: 1;
}
#topBar input::placeholder {
  color: #56ccf2;
}
#topBar button {
  font-size: 0.8em;
  width: 40px;
  border: none;
  border-radius: 2px;
  background: #fff;
  transform: translate(-55px, 0);
  transition-duration: 0.3s;
}
.fa-search {
  color: #2f80ed;
  transform: translate(-80, 0);
  transition: all 0.2s ease-in-out;
}
#topBar input:focus,
#topBar button:focus {
  outline: none;
}

#topBar input:focus + button {
  transform: translate(0, 0);
  transition-duration: 0.3s;
}

#topBar input:focus + button .fa {
  transform: translate(-80, 0);
  transition-duration: 0.5s;
}

#avatar-user {
  height: 40px;
  padding: 0px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#avatar-user img {
  width: 40px;
  border-radius: 100%;
  margin-right: 10px;
  display: inline;
}

#nameAvatar {
  display: inline;
  color: #fff;
}

/* Navegacion*/

nav {
  background-color: #2f80ed;
  width: 100%;
  height: 80px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* display: none; */
  overflow: hidden;
}

nav li a {
  background-color: #2196f3;
  color: #e0e0e0;
  display: block;
  padding: 20px 20px;
  border-bottom: 1px solid #56ccf2;
  text-decoration: none;
}

nav li a:hover,
nav .menu-btn:hover {
  background-color: #219653;
}

nav .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px;
  text-decoration: none;
}
nav .logo img {
  height: 40px;
}

/* menu */

nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 18px 11px;
  border-radius: 4px;
  margin: 18px 20px;
  position: relative;
  user-select: none;
  background-color: #e0e0e0;
}

nav .menu-icon .navicon {
  background: #2f80ed;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

nav .menu-icon .navicon:before,
nav .menu-icon .navicon:after {
  background: #2f80ed;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

nav .menu-icon .navicon:before {
  top: 5px;
}

nav .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

nav .menu-btn {
  display: none;
}

nav .menu-btn:checked ~ .menu {
  max-height: 240px;
}

nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/******************************cuerpo central de la app contenido**********************/

main {
  margin: 40px 0px;
}

main #news h1 {
  margin: 20px 20px 50px 20px;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #27ae60;
}

#filter {
  background-color: #219653;
  color: #fff;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  position: relative;
  display: inline;
  flex: 1 1 auto;
  margin: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #2f80ed;
}

#news {
  padding: 20px 0px;
}

article {
  box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.4);
  padding-bottom: 30px;
  margin-bottom: 40px;
}

#header-article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#header-article img {
  width: 316px;
  height: 200px;
}

#header-article img.movil {
  display: initial;
}

#header-article img.tablet {
  display: none;
}

#voting {
  width: 98px;
}

.vote-positive {
  cursor: pointer;
  background-image: url('img/true.png');
  background-size: 60px 34px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #219653;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#voting h3 {
  vertical-align: bottom;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

.vote-negative {
  cursor: pointer;
  background-image: url('img/false.png');
  background-size: 60px 34px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eb5757;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#body-article .avatar {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

#body-article .avatar img {
  margin-right: 10px;
  height: 40px;
  display: inline;
}
#body-article .data-name {
  display: block;
  flex: 0 1 auto;
}

#body-article .data {
  display: block;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1.5px;
}
#body-article .name {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}

#body-article h1.title {
  margin: 20px;
  font-size: 20px;
  line-height: 22px;
  text-align: left;
}

#body-article h1.title a {
  color: #333333;
  text-decoration: none;
}

#body-article p.excerpt {
  color: #828282;
  line-height: 22px;
  margin: 20px;
}

/********************** sidebar **********************************/

aside {
  display: none;
}

footer {
  height: 100px;
}

/********************** Media Query 768 **********************************/

@media (min-width: 768px) {
  nav li {
    float: left;
  }
  nav li a {
    background-color: #2196f3;
    border-radius: 6px;
    margin: 0px 5px;
    border-bottom: none;
  }
  nav .menu {
    margin: 10px 20px;
    clear: none;
    float: right;
    max-height: none;
  }
  nav .menu-icon {
    display: none;
  }

  #news {
    padding: 20px 0px;
    height: 220px;
  }

  article {
    margin: 10px 10px;
    border-radius: 6px;
    box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding-bottom: 0px;
    margin-bottom: 40px;
  }

  #header-article {
    flex: 0 1 auto;
    margin-right: 10px;
  }

  #header-article img {
    border-radius: 6px 0px 0px 6px;
    width: 177px;
    height: 200px;
    background-color: aquamarine;
  }

  #header-article img.movil {
    display: none;
  }

  #header-article img.tablet {
    display: initial;
  }
  #body-article h1.title {
    margin: 10px;
  }

  #body-article p.excerpt {
    margin: 10px;
  }

  #body-article .avatar {
    margin: 10px;
  }
}
/********************** Media Query 768 **********************************/

@media (min-width: 1024px) {
  #filter {
    display: none;
  }
  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  header {
    flex-basis: 100%;
  }
  main {
    flex: 0 1 80%;
    max-width: 1024px;
  }
  aside {
    display: inline;
    margin: 170px 2%;
    flex: 0 1 15%;
  }
  .fa-bookmark {
    color: #2d9cdb;
    margin-right: 10px;
  }
  h3.title-category {
    font-size: 26px;
    padding: 20px 10px;
    color: #f2f2f2;
  }
  #container-category {
    border-radius: 8px;
    background-color: #2f80ed;
    padding-bottom: 30px;
  }
  .category {
    list-style: none;
  }
  .category li {
    padding: 8px;
    border-radius: 4px;
    margin: 1px 10px;
  }
  .category li:hover .fa-bookmark {
    color: #56ccf2;
  }
  .category li:hover {
    background: #2d9cdb;
  }
  .category li a {
    padding: 15px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
  }
}
