body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  align-items: Center;
  min-width: 414px;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  border-style: none;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: -66px;
  z-index: 3000;
}

main {
  margin: 40px 10px;
}

@media (min-width: 780px) {
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  } */
  header {
    flex-basis: 100%;
  }
  main {
    flex: 0 1 80%;
    max-width: 1024px;
  }
  aside {
    display: inline;
    margin: 170px 2%;
    flex: 0 1 15%;
  }
}
